@use 'mobile';
@use 'Table';
@use 'Toggle';
@use "variables.icss";

.layout-editor-outer {
  display: inline-flex;

  @include Table.table;
  @include Toggle.toggle;

  select {
    background: #070707;
	font-size: 15px;
	border: 1px solid #404040;
	color: #fff;
	text-overflow: ellipsis;
	font-family: inherit;
	background: #0b0b0b url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,4 2,4 5,7 8,4 10,4 5,9' fill='%23fff'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 12px;
	padding-left: 8px;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .layout-editor-inner {
    width: variables.$settings-table-width;
    display: inline-flex;
    margin-bottom: variables.$ui-large-margin - variables.$ui-margin;

    table {
      width: 100%;
    }

    .btn-group {
      display: flex;
      flex-direction: column;

      button {
        width: 40px;
        font-size: 15px;
        display: block;
      }

      button:nth-child(1) {
        margin-top: 0;
      }

      @include mobile.mobile {
        flex-direction: row;
        margin-left: variables.$ui-margin;
        margin-top: variables.$ui-margin;

        button {
          margin: 0 variables.$ui-margin variables.$ui-large-margin 0;
        }
      }
    }

    @include mobile.mobile {
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .layout-editor-component-list {
    margin-left: variables.$ui-large-margin;

    @include mobile.mobile {
      margin-left: 0;
      margin-bottom: variables.$ui-large-margin;
    }
  }

  .layout-editor-component {
    cursor: pointer;
  }

  .layout-container {
    margin-left: variables.$ui-large-margin;

    @include mobile.mobile {
      margin-left: 0;
      margin-top: variables.$ui-large-margin;
    }
  }

  @include mobile.mobile {
    flex-wrap: wrap;

    .layout-editor-inner-container {
      width: 100%;
    }

    .layout-editor-tabs button {
      margin-top: 0;
    }
  }
}
